     body{
background-color:rgba(127, 255, 212, 0.87))
} 


 h1{
color:rgba(3, 0, 5, 0.856)
font: family 20px; ;
background: ;
}


p{
color:rgb(0, 4, 7) ;
font-family: ;
font-size:20px ;
background: ;
}