body{
background-color:rgb(210, 240, 248) ;
} 

h1{
color:rgb(255, 255, 255) ;
font: family 40px; ;
font-size:65px;
background: ;
}

p{
color:rgb(0, 0, 0) ;
font-family: ;
font-size: 45px;
background: ;
}